<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>OCR (Image / Handwriting to Text)</title>
    <style>
        a:link, a:visited {
  background-color: limegreen;
  color: white;
  font-size:20px;
  font-family:Arial;
  border-radius: 12px;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: green;
}
    </style>
</head>
<body style="margin-left:70px">
<h1 style="font-family:Verdana;font-size:40px;margin-top:50px"><b>OCR (Image / Handwriting to Text)</b></h1>
<br>
<a href="/page1">Card to Text (API)</a>
<br>
<br>
<a href="/page2">Card to Text</a>
<br>
<br>
<a href="/page3">Form to Text</a>

</body>
</html>
